.hero-section {
    position: relative;
    color: white;
    z-index: 1;
}

.hero-section video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.35; /* Adjust for brightness */
    filter: brightness(70%);
}

.hero-section h1, 
.hero-section p, 
.hero-section a {
    position: relative;
    z-index: 2;
}
